@model List<Product>
@{
    ViewData["Title"] = "Products";
    //add pagination from index action controller
    //convert to integer to get page number
    int pageIndex = (int)ViewData["PageIndex"]!;
    int totalPages = (int)ViewData["TotalPages"]!;
    //add search function from index action controller
    string search = (string)ViewData["Search"]!;
}

<h2 class="text-center mb-5">Products List</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-warning btn-sm" asp-controller="Products" asp-action="Create">
            Add new product
        </a>
    </div>
    <div class="col">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="search" value="@search" placeholder="Search for Product Name or Brand..." aria-label="Search">
            <button class="btn btn-dark" type="submit">
                <img width="25" height="25" src="https://img.icons8.com/ios-filled/50/FFFFFF/search--v1.png" alt="search--v1" />
             </button>
        </form>
    </div>
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th class="mr-2">ID</th>
            <th class="mr-2">Name</th>
            <th class="mr-2">Brand</th>
            <th class="mr-2">Category</th>
            <th class="mr-2">Price</th>
            <th class="mr-2">Image</th>
            <th class="mr-2">Created At</th>
            <th class="mr-2">Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td class="p-2">@product.Id</td>
                <td class="p-2">@product.Name</td>
                <td class="p-2">@product.Brand</td>
                <td class="p-2">@product.Category</td>
                <td class="p-2">$@(product.Price)</td>
                <td class="p-2">
                    <img src="/products/@product.ImageFileName" width="100" />
                </td>
                <td class="p-2">@product.CreatedAt.ToString("MM/dd/yyyy")</td> 
                <td style="white-space:nowrap" class="p-2">
                    <a class="btn btn-light btn-sm" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id">
                        @* Edit button *@
                        <spa title="Edit item">
                            <img width="20" height="20" src="https://img.icons8.com/ios/50/create-new.png" alt="create-new" />
                        </spa>
                    </a>
                    <a class="btn btn-light btn-sm" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" onclick="return confirm('Are you sure you want to delete the @product.Name item?');">
                        @* Delete button *@
                        <span title="Delete item">
                            <img width="20" height="20" src="https://img.icons8.com/ios/50/delete-trash.png" alt="delete-trash" />
                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Pagination *@
<nav >
    <ul class="pagination">
        @for(int i = 1; i <= totalPages; i++)
        {
            string active = "";
            if (i == pageIndex) active = "active";
            <li class="page-item @active"><a class="page-link" asp-route-pageIndex="@i">@i</a></li>
        }
    </ul>
</nav>