@model List<ApplicationUser>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "List of Users";
}

<h2 class="text-center mb-5">List of Users</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Role</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td scope="row">@(user.FirstName + " " + user.LastName)</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>
                    @{
                        var roles = await UserManager.GetRolesAsync(user); 
                        var rolesStr = String.Join(", ", roles); // use comma to separate roles if there is more than one

                        // add badge color
                        string color = "text-bg-secondary"; 
                        if (roles.Contains("admin"))
                        {
                            color = "text-bg-danger";
                        } 
                        else if (roles.Contains("seller"))
                        {
                            color = "text-bg-warning text-dark";
                        }
                        else if (roles.Contains("client"))
                        {
                            color = "text-bg-success text-light";
                        }

                        // display role in column
                        <span class="badge rounded-pill @color"> 
                            @rolesStr 
                        </span>
                    }
                </td>
                <td>@user.CreatedAt.ToString("MM/dd/yyyy")</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">
                        Details
                    </a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>


<nav>
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            string active = "";
            if (i == ViewBag.PageIndex) { active = "active"; }
            
            <li class="page-item @active">
                <a class="page-link" asp-route-pageIndex="@i">@i</a>
            </li>
        }
    </ul>
</nav>