<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shoppable</title>
    <link href="/bag.png" rel="icon" type="image/x-icon"/>  
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DotNet_Shoppable.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./css/style.css"/>
</head>
<body>
    <header>
        <nav class="bg-black text-white p-0">
            <p class="text-center">Don't miss out on our 2025 New Years! 30% OFF on all items until 10/02/2025!</p>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    Shoppable
                    <img width="50" height="50" src="https://img.icons8.com/3d-fluency/94/shopping-bag.png" alt="shopping-bag" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between mx-5">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="Index">Store</a>
                        </li>

                    </ul>

                    @* Shopping Cart *@

                    @using DotNet_Shoppable.Data @* access carthelper namespace *@

                    <ul class="navbar-nav me-4">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">
                                <img width="24" height="24" src="https://img.icons8.com/forma-regular/24/shopping-cart.png" alt="shopping-cart" />
                                @* <img width="32" height="32" src="https://img.icons8.com/windows/32/shopping-bag.png" alt="shopping-bag" /> *@
                                <span id="CartSize" class="badge text-bg-warning" style="vertical-align:top;">
                                    @CartHelper.GetCartSize(Context.Request, Context.Response)
                                </span>
                            </a>
                        </li>
                    </ul>

                    @* Check if user is signed in and if user is authenticated after login *@
                    @using Microsoft.AspNetCore.Identity
                    @inject SignInManager<ApplicationUser> SignInManager
                    @inject UserManager<ApplicationUser> UserManager

                    @if (SignInManager.IsSignedIn(User)) 
                    {
                        //get user data
                        var appUser = await UserManager.GetUserAsync(User);

                        if (User.IsInRole("admin")) 
                        {
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @* <img width="26" height="26" src="https://img.icons8.com/fluency-systems-filled/50/737373/user-male-circle.png" alt="user-male-circle" /> *@
                                        <img width="24" height="24" src="https://img.icons8.com/fluency/48/user-male-circle--v1.png" alt="user-male-circle--v1" />
                                        @(appUser!.FirstName + " " + appUser!.LastName + "(Admin)")
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="Products" asp-action="Index">Products</a></li>
                                        <li><a class="dropdown-item" asp-controller="AdminOrders" asp-action="Index">Orders</a></li>
                                        <li><a class="dropdown-item" asp-controller="Users" asp-action="Index">Users</a></li>
                                        <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Profile</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout" onclick="return confirm('@(appUser!.FirstName), are you sure you want to logout?')">
                                                <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/50/exit.png" alt="exit" />
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        }
                        else if (User.IsInRole("client"))
                        {
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @* <img width="26" height="26" src="https://img.icons8.com/fluency-systems-filled/50/737373/user-male-circle.png" alt="user-male-circle" /> *@
                                        <img width="24" height="24" src="https://img.icons8.com/fluency/48/user-male-circle--v1.png" alt="user-male-circle--v1" />
                                        @(appUser!.FirstName + " " + appUser!.LastName + "(Client)")
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile">Profile</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout" onclick="return confirm('@(appUser!.FirstName), are you sure you want to logout?')">
                                                Logout
                                                <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/50/exit.png" alt="exit" />
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout" onclick="return confirm('@(appUser!.FirstName), are you sure you want to logout?')">
                                        Logout
                                        <img width="20" height="20" src="https://img.icons8.com/fluency-systems-filled/50/exit.png" alt="exit" />
                                    </a>
                                </li>
                            </ul>
                        }
                    }
                    else
                    {
                        @* if user is not authenticated/logged in show 'register' and 'login' buttons *@
                        <ul class="navbar-nav">
                            <li class="nav-link">
                                <a class="text-black mx-2 link-opacity-50-hover" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-link">
                                <a class="text-black mx-2 link-opacity-50-hover" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        </ul>
                    }

                </div>
            </div>
        </nav>
    </header>

    @* Check if home/index is the hompage, in order to use the full width of the banner in home/index and remove the container element from homepage *@
    @if (ViewData["HomePage"] == null)
    {
        <div class="container mt-3">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    } 
    else
    {
        @RenderBody()
    }
    
    <footer class="border-top footer text-muted">
        <div class="container">
            <img width="20" height="20" src="https://img.icons8.com/3d-fluency/94/shopping-bag.png" alt="shopping-bag" />
            &copy; @DateTime.Now.Year Shoppable, LLC. @* - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


    @*================= javascript used to add products to cart ==============================================*@
    <script>
        function getShoppingCart() {
            // document.cookie contains all the cookies of our website with the following format
            // cookie1=value1; cookie2=value2; cookie3=value3;

            const cookieName = "shopping_cart";
            let cookiesArray = document.cookie.split(';');

            for (let i = 0; i < cookiesArray.length; i++) {
                let cookie = cookiesArray[i];
                if (cookie.includes(cookieName)) {
                    let cookie_value = cookie.substring(cookie.indexOf("=") + 1);

                    try {
                        let cart = JSON.parse(atob(cookie_value)); // atob decodes the data from base64 to string value
                        return cart;
                    }
                    catch (exception) {
                        break;
                    }

                }
            }

            return {}; // if cart is empty return empty object
        }

        function saveCart(cart) {
            let cartStr = btoa(JSON.stringify(cart)) //btoa convert the data to code base64 to store in cookie

            //save cookie
            let d = new Date();
            d.setDate(d.getDate() + 365); // this cookie expires after 365 days (1 year)
            let expires = d.toUTCString();
            document.cookie = "shopping_cart=" + cartStr + ";expires=" + expires + ";path=/; SameSite=Strict; Secure";
        }

        function addToCart(button, id) {
            let cart = getShoppingCart();

            let quantity = cart[id];
            if (isNaN(quantity)) {
                // quantity is Not a Number => set quantity to 1
                cart[id] = 1;

            }
            else {
                cart[id] = Number(quantity) + 1;
            }

            saveCart(cart);
            button.innerHTML = "Added <img width='18' height='18' src='https://img.icons8.com/material-outlined/24/checkmark--v1.png' alt='checkmark--v1'/>";

            // check cart quantity
            let cartSize = 0;
            for (var cartItem of Object.entries(cart)) {
                quantity = cartItem[1]
                if (isNaN(quantity)) { continue; }

                cartSize += Number(quantity);
            }

            document.getElementById("CartSize").innerHTML = cartSize;
        }

        // javascript function used to increase and decrease quantity of order item
        function increase(id) {
            let cart = getShoppingCart();

            let quantity = cart[id]
            if (isNaN(quantity)) {
                // quantity is Not a Number => set it to 1
                cart[id] = 1
            }
            else {
                cart[id] = Number(quantity) + 1;
            }

            saveCart(cart);
            location.reload()
        }

        function decrease(id) {
            let cart = getShoppingCart();

            let quantity = cart[id]
            if (isNaN(quantity)) {
                // quantity is Not a Number => exit
                return
            }

            quantity = Number(quantity)

            if (quantity > 1) {
                cart[id] = quantity - 1
                saveCart(cart)
                location.reload()
            }
        }

        function remove(id) {
            let cart = getShoppingCart();

            if (cart[id]) {
                delete cart[id]
                saveCart(cart)
                location.reload()
            }
        }
       

 
    </script>


</body>
</html>


